/* styles universels */

html {
  font-size: 16px;
}

body {
  background-color: #dcdcdc;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
}

h1 {
  font-family: "Suez One", serif;
  font-size: 2.5rem;
}

/* container */

.container {
  display: inline;
}


/* main */

main {
  display: inline-block;
  width: 62.5rem;
  height: auto;
  border: 1px solid black;
  padding: 3rem;
  margin: auto;
}

/* nav */

nav {
  display: inline-block;
  border: 1px solid black;
  position: fixed;
  width: 5rem;
  height: auto;
  padding: 3rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-family: "Suez One", serif;
}
